<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Saurabh Khaparey. It makes use of APIs provided by darksky.net and mapbox.com</p>
        <img class="portrait" src="/images/myPhoto.jpg">
    </div>
    
    {{>footer}}
</body>

</html>