<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">

    {{>header}}
    
        <p>Use this site to get your weather report!!!</p>

        <form>
            <input type="text" placeholder="Enter location">
            <button>Search</button>
        </form>

        <p id="p1"></p>

        <p id="p2"></p>

    </div>

    {{>footer}}

    <script type="text/javascript" src="/JS/app.js "></script>

</body>

</html>